@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f8f9fa;
  color: #0a0f2c;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-serif {
  font-family: 'Times New Roman', Times, serif;
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.05);
  }
}

.animate-heartbeat {
  animation: heartbeat 1.2s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d90429;
}
